body{
    background-color: rgb(26, 25, 25);
   
}

header{
    position: absolute;
    top: 5%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color:  rgba(121, 121, 121, 0.486)  ;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#Text_Sponsoring{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: aliceblue;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 90%;
    background-color:  rgba(121, 121, 121, 0.486);
    padding: 30px;
    border-radius: 90px;

}

#bild{
   display: block;
  margin: 0 auto;
}

#Umleitung_Finanzierung{
    color:rgb(26, 25, 25);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin: auto;
   margin-top: 5%;
   background-color:  rgba(121, 121, 121, 0.486);
   max-width: 120px;
   padding: 20px;
   border-radius: 90px;
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1px;
    margin-top: 3px;
}
